.call{
    /* float: left; */
    display: inline-block;
    padding-left: 20px;
}
.welcome{
    float: right;
}
.top{
    line-height: 30px;
    font-size: 13px;
    color: #868686;
}
/* .clearfix-top::after{
    content: ' ';
    display: block;
    height: 0;
    clear: both;
    zoom: 1;
} */
.tel{
    font-family: "iconfont";
}
.top a{
    color: #2da5e1;
}